@import "variable";

* {
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  padding: 0 10px;
  margin: 0 auto;
  @media screen and (max-width: 480px) {
    width: 90%;
  }
}

.button {
  text-decoration: none;
  padding: 8px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $headerTextColor;
  text-align: center;
  background-color: $headerBackground;
  border-radius: 25px;
  border: 2px solid transparent;

  &:hover {
    background-color: #ffffff;
    color: #b62f2f;
    border-color: #b62f2f;
    cursor: pointer;
  }
}

.title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: $textColor;
  @media screen and (max-width: 480px) {
    font-size: 32px;
    line-height: 40px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 0;
  width: 100%;
  z-index: $zIndexHeader;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    display: flex;
    align-items: center;

    & > img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      padding: 7px;
    }
  }

  &__description {
    max-width: 200px;
    line-height: 20px;
    font-weight: 700;
    color: $headerTextColor;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__item {
    display: inline-block;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0.5px;
      background: $headerTextColor;
      transition: 0.3s all linear;
    }

    &:hover::after {
      width: 100%;
    }

    & > a {
      text-decoration: none;
      color: $headerTextColor;
      font-size: 11px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
  }

  &__phone {
    box-sizing: border-box;
    text-decoration: none;
    color: $headerTextColor;
    margin: 0 0 10px 0;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid transparent;
    transition: 0.3s all linear;

    &:hover {
      border-bottom-color: inherit;
    }
  }
}

.promo {
  width: 100%;
  height: 100vh;
  background: url("../img/banner.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(3, 3, 3, 0.88) 0%, rgba(25, 77, 77, 0.28) 100%);
  }

  &__wrapper {
    z-index: $zIndexPromo;
  }

  &__info {
    color: $headerTextColor;
    width: 50%;
    margin-right: auto;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
  }

  &__list {
    margin: 10px 0 20px 0;
    @media screen and (max-width: 768px) {
      margin: 50px 0 50px 0;
    }
  }

  &__item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 20px;

    & > img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      margin-right: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 1.5em;
    }
  }

  &__button {
    display: inline-block;
    text-transform: uppercase;
    padding: 15px;
  }
}

.category {
  margin: 20px 0 70px 0;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    row-gap: 30px;
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 6fr);
    }
    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(1, 12fr);
    }
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__image {
    width: max-content;
    object-fit: contain;
    margin: 0 auto;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: $textColor;
    text-align: center;
  }

  &__description {
    width: 75%;
    margin: 15px auto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    color: $textColor;
  }

  &__button {
    width: max-content;
    margin: 0 auto;
  }
}

.documents {
  margin: 0 0 70px 0;

  &__items {
    list-style-type: disc;
    padding-inline-start: 40px;
  }

  &__item {
    font-size: 16px;
    line-height: 20px;
    color: $textColor;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.price {
  margin-bottom: 70px;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 6fr);
      @media only screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 12fr);
      }
    }
  }

  &__item {
    box-sizing: border-box;
    border: 2px solid #dddfeb;
    background: #fff;
    padding: 40px;
    color: $textColor;

    & > img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      display: block;
      filter: contrast(0.5);
      margin: 0 auto 20px auto;
    }

    &:hover {
      cursor: pointer;
      z-index: 1;
      transform: scale(1.1);
      border-color: #b62e2e;
      background-color: #b62e2e;
      color: $headerTextColor;
      border-radius: 5px;
      box-shadow: 0 14px 17px 1px rgb(0 0 0 / 20%);
      @media screen and (max-width: 480px) {
        transform: scale(1.05);
      }
    }

  }

  &__category {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  &__cost {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    font-size: 56px;
    line-height: 66px;
    font-weight: 700;
    text-align: center;

    & > span {
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
    }
  }

  &__info {
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.5;
  }

  &__description {
    & > p {
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__button {
    margin-top: 40px;
    padding: 12px;
    width: 100%;
    max-width: 100%;
    border: 2px solid #dddfeb;
    border-radius: 25px;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
  }
}

.questions {
  background: $textColor;

  &__wrapper {
    padding: 50px 0;
    width: calc(80% - 100px);
    @media screen and (max-width: 480px) {
      width: 95%;
    }
  }

  &__title {
    color: $headerTextColor;
    text-align: center;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 24px;
    color: $headerTextColor;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 2rem;
    @media screen and (max-width: 480px) {
      margin-bottom: 4rem;
    }
  }

  &__items {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 768px) {
      flex-flow: column wrap;
    }
  }

  &__item {
    display: block;
    max-width: calc(50% - 40px);
    position: relative;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 100%;
      width: 40px;
      height: 40px;
      background: url("../img/question-mark.png") no-repeat center;
      object-fit: cover;
      margin-right: 10px;
      @media screen and (max-width: 480px) {
        width: 30px;
        height: 30px;
        top: -40px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;
      @media screen and (max-width: 480px) {
        margin-bottom: 4rem;
      }
    }
  }

  &__name {
    margin-bottom: 20px;
    font-size: 23px;
    line-height: 36px;
    color: $headerTextColor;
    @media screen and (max-width: 480px) {
      text-align: center;
    }
  }

  &__answer {
    font-size: 16px;
    line-height: 18px;
    color: $headerTextColor;
    opacity: 0.5;
    text-align: justify;
  }
}

.footer {
  background: black;
  padding: 30px 0;
}

.map {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  position: relative;

  &__adress {
    position: absolute;
    top: 0;
    max-width: 700px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: $zIndexPromo;
  }

  &__title {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    line-height: 70px;
    color: $textColor;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 24px;
    color: $textColor;
    text-align: center;
  }
}